[url "github:"]
    InsteadOf = https://github.com/
    InsteadOf = git@github.com:

[core]
	whitespace = cr-at-eol
	editor = nano
	quatepath = false
[user]
	name = Hattomo (TomohiroHattori)
	email = 45988993+Hattomo@users.noreply.github.com
        signingkey = /home/hattomo/.ssh/hattomo-github-sign.pub
[init]
	defaultBranch = main
[pull]
	rebase = true
[push]
	default = simple
[gpg]
        format = ssh
[commit]
        gpgsign = true
